body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:447px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:492px;
}
#u830 {
  position:absolute;
  left:107px;
  top:23px;
  width:340px;
  height:491px;
}
#u831 {
  position:absolute;
  left:2px;
  top:238px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:45px;
}
#u833 {
  position:absolute;
  left:107px;
  top:470px;
  width:170px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u834 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:45px;
}
#u835 {
  position:absolute;
  left:277px;
  top:470px;
  width:170px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u836 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u837 {
  position:absolute;
  left:277px;
  top:470px;
  width:1px;
  height:44px;
}
#u838 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:44px;
}
#u839 {
  position:absolute;
  left:107px;
  top:23px;
  width:340px;
  height:43px;
}
#u840 {
  position:absolute;
  left:2px;
  top:14px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:44px;
}
#u841 {
  position:absolute;
  left:107px;
  top:23px;
  width:42px;
  height:43px;
  font-size:20px;
}
#u842 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:44px;
}
#u843 {
  position:absolute;
  left:159px;
  top:23px;
  width:163px;
  height:43px;
  font-size:20px;
  text-align:left;
}
#u844 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:44px;
}
#u845 {
  position:absolute;
  left:148px;
  top:23px;
  width:1px;
  height:43px;
}
#u846 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:27px;
}
#u847 {
  position:absolute;
  left:206px;
  top:87px;
  width:107px;
  height:26px;
  text-align:left;
}
#u848 {
  position:absolute;
  left:2px;
  top:5px;
  width:103px;
  word-wrap:break-word;
}
#u849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u849 {
  position:absolute;
  left:141px;
  top:87px;
  width:49px;
  height:49px;
}
#u850 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  word-wrap:break-word;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:27px;
}
#u851 {
  position:absolute;
  left:206px;
  top:110px;
  width:134px;
  height:26px;
  text-align:left;
}
#u852 {
  position:absolute;
  left:2px;
  top:5px;
  width:130px;
  word-wrap:break-word;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u854 {
  position:absolute;
  left:141px;
  top:198px;
  width:300px;
  height:40px;
  text-align:left;
}
#u855 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u856 {
  position:absolute;
  left:112px;
  top:237px;
  width:329px;
  height:1px;
}
#u857 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u859 {
  position:absolute;
  left:141px;
  top:238px;
  width:300px;
  height:40px;
  text-align:left;
}
#u860 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u861 {
  position:absolute;
  left:112px;
  top:277px;
  width:329px;
  height:1px;
}
#u862 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u864 {
  position:absolute;
  left:112px;
  top:158px;
  width:329px;
  height:1px;
}
#u865 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u867 {
  position:absolute;
  left:141px;
  top:159px;
  width:300px;
  height:40px;
  text-align:left;
}
#u868 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u869 {
  position:absolute;
  left:112px;
  top:198px;
  width:329px;
  height:1px;
}
#u870 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u871 {
  position:absolute;
  left:344px;
  top:165px;
  width:97px;
  height:29px;
  text-align:right;
}
#u872 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u873 {
  position:absolute;
  left:120px;
  top:170px;
  width:15px;
  height:15px;
}
#u874 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u875 {
  position:absolute;
  left:120px;
  top:209px;
  width:15px;
  height:15px;
}
#u876 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u877 {
  position:absolute;
  left:120px;
  top:252px;
  width:15px;
  height:15px;
}
#u878 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
