body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:844px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:492px;
}
#u879 {
  position:absolute;
  left:117px;
  top:33px;
  width:340px;
  height:491px;
}
#u880 {
  position:absolute;
  left:2px;
  top:238px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:44px;
}
#u881 {
  position:absolute;
  left:117px;
  top:33px;
  width:340px;
  height:43px;
}
#u882 {
  position:absolute;
  left:2px;
  top:14px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:44px;
}
#u883 {
  position:absolute;
  left:117px;
  top:33px;
  width:42px;
  height:43px;
  font-size:20px;
}
#u884 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:44px;
}
#u885 {
  position:absolute;
  left:169px;
  top:33px;
  width:163px;
  height:43px;
  font-size:20px;
  text-align:left;
}
#u886 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:44px;
}
#u887 {
  position:absolute;
  left:158px;
  top:33px;
  width:1px;
  height:43px;
}
#u888 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:44px;
}
#u889 {
  position:absolute;
  left:138px;
  top:92px;
  width:244px;
  height:43px;
}
#u890 {
  position:absolute;
  left:2px;
  top:14px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:39px;
}
#u892 {
  position:absolute;
  left:126px;
  top:137px;
  width:74px;
  height:38px;
  text-align:left;
}
#u893 {
  position:absolute;
  left:2px;
  top:11px;
  width:70px;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:39px;
}
#u894 {
  position:absolute;
  left:200px;
  top:137px;
  width:246px;
  height:38px;
  color:#868686;
  text-align:left;
}
#u895 {
  position:absolute;
  left:2px;
  top:11px;
  width:242px;
  word-wrap:break-word;
}
#u896 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:39px;
}
#u897 {
  position:absolute;
  left:126px;
  top:89px;
  width:74px;
  height:38px;
  text-align:left;
}
#u898 {
  position:absolute;
  left:2px;
  top:11px;
  width:70px;
  word-wrap:break-word;
}
#u899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:39px;
}
#u899 {
  position:absolute;
  left:200px;
  top:89px;
  width:105px;
  height:38px;
  text-align:left;
}
#u900 {
  position:absolute;
  left:2px;
  top:11px;
  width:101px;
  word-wrap:break-word;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:39px;
}
#u901 {
  position:absolute;
  left:341px;
  top:89px;
  width:105px;
  height:38px;
  text-align:right;
}
#u902 {
  position:absolute;
  left:2px;
  top:11px;
  width:101px;
  word-wrap:break-word;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:44px;
}
#u903 {
  position:absolute;
  left:134px;
  top:200px;
  width:304px;
  height:43px;
}
#u904 {
  position:absolute;
  left:2px;
  top:14px;
  width:300px;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:492px;
}
#u905 {
  position:absolute;
  left:504px;
  top:33px;
  width:340px;
  height:491px;
}
#u906 {
  position:absolute;
  left:2px;
  top:238px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:44px;
}
#u907 {
  position:absolute;
  left:504px;
  top:33px;
  width:340px;
  height:43px;
}
#u908 {
  position:absolute;
  left:2px;
  top:14px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:44px;
}
#u909 {
  position:absolute;
  left:504px;
  top:33px;
  width:42px;
  height:43px;
  font-size:20px;
}
#u910 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:44px;
}
#u911 {
  position:absolute;
  left:556px;
  top:33px;
  width:163px;
  height:43px;
  font-size:20px;
  text-align:left;
}
#u912 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:44px;
}
#u913 {
  position:absolute;
  left:545px;
  top:33px;
  width:1px;
  height:43px;
}
#u914 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:44px;
}
#u915 {
  position:absolute;
  left:525px;
  top:92px;
  width:244px;
  height:43px;
}
#u916 {
  position:absolute;
  left:2px;
  top:14px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:51px;
}
#u918 {
  position:absolute;
  left:511px;
  top:79px;
  width:325px;
  height:50px;
}
#u919 {
  position:absolute;
  left:2px;
  top:17px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:51px;
}
#u920 {
  position:absolute;
  left:511px;
  top:79px;
  width:191px;
  height:50px;
  text-align:left;
}
#u921 {
  position:absolute;
  left:2px;
  top:17px;
  width:187px;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:51px;
}
#u922 {
  position:absolute;
  left:757px;
  top:79px;
  width:79px;
  height:50px;
  text-align:left;
}
#u923 {
  position:absolute;
  left:2px;
  top:17px;
  width:75px;
  word-wrap:break-word;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:51px;
}
#u925 {
  position:absolute;
  left:511px;
  top:139px;
  width:325px;
  height:50px;
}
#u926 {
  position:absolute;
  left:2px;
  top:17px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:51px;
}
#u927 {
  position:absolute;
  left:511px;
  top:139px;
  width:191px;
  height:50px;
  text-align:left;
}
#u928 {
  position:absolute;
  left:2px;
  top:17px;
  width:187px;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:51px;
}
#u929 {
  position:absolute;
  left:757px;
  top:139px;
  width:79px;
  height:50px;
  text-align:left;
}
#u930 {
  position:absolute;
  left:2px;
  top:17px;
  width:75px;
  word-wrap:break-word;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:51px;
}
#u932 {
  position:absolute;
  left:511px;
  top:199px;
  width:325px;
  height:50px;
}
#u933 {
  position:absolute;
  left:2px;
  top:17px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:51px;
}
#u934 {
  position:absolute;
  left:511px;
  top:199px;
  width:191px;
  height:50px;
  text-align:left;
}
#u935 {
  position:absolute;
  left:2px;
  top:17px;
  width:187px;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:51px;
}
#u936 {
  position:absolute;
  left:757px;
  top:199px;
  width:79px;
  height:50px;
  text-align:left;
}
#u937 {
  position:absolute;
  left:2px;
  top:17px;
  width:75px;
  word-wrap:break-word;
}
