dist/*
src/pages/activateAsiaTravel.wpy
src/pages/activateFightDelay.wpy
src/pages/activateScreenProtector.wpy
src/pages/insuranceList.wpy
src/pages/delayDetail.wpy
src/pages/freightDetail.wpy
src/pages/screenDetail.wpy
src/pages/tourDetail.wpy
src/pages/detail.wpy
src/pages/detectScreen.wpy
src/pages/activateSuccess.wpy
src/pages/withdrawHistory.wpy
src/pages/activeCard.wpy
src/pages/index.wpy
src/pages/activeScreenCard.wpy
src/components/poster.wpy
src/pages/friendsSupport.wpy
src/app.wpy