body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:447px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:492px;
}
#u1186 {
  position:absolute;
  left:107px;
  top:23px;
  width:340px;
  height:491px;
}
#u1187 {
  position:absolute;
  left:2px;
  top:238px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:44px;
}
#u1188 {
  position:absolute;
  left:107px;
  top:23px;
  width:340px;
  height:43px;
}
#u1189 {
  position:absolute;
  left:2px;
  top:14px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:44px;
}
#u1190 {
  position:absolute;
  left:107px;
  top:23px;
  width:42px;
  height:43px;
  font-size:20px;
}
#u1191 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u1192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:44px;
}
#u1192 {
  position:absolute;
  left:159px;
  top:23px;
  width:163px;
  height:43px;
  font-size:20px;
  text-align:left;
}
#u1193 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u1194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:44px;
}
#u1194 {
  position:absolute;
  left:148px;
  top:23px;
  width:1px;
  height:43px;
}
#u1195 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:44px;
}
#u1196 {
  position:absolute;
  left:128px;
  top:82px;
  width:244px;
  height:43px;
}
#u1197 {
  position:absolute;
  left:2px;
  top:14px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:426px;
}
#u1198 {
  position:absolute;
  left:117px;
  top:76px;
  width:320px;
  height:425px;
}
#u1199 {
  position:absolute;
  left:2px;
  top:204px;
  width:316px;
  word-wrap:break-word;
}
