body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:447px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:492px;
}
#u938 {
  position:absolute;
  left:107px;
  top:23px;
  width:340px;
  height:491px;
}
#u939 {
  position:absolute;
  left:2px;
  top:238px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:44px;
}
#u940 {
  position:absolute;
  left:107px;
  top:23px;
  width:340px;
  height:43px;
}
#u941 {
  position:absolute;
  left:2px;
  top:14px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:44px;
}
#u942 {
  position:absolute;
  left:107px;
  top:23px;
  width:42px;
  height:43px;
  font-size:20px;
}
#u943 {
  position:absolute;
  left:2px;
  top:10px;
  width:38px;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:44px;
}
#u944 {
  position:absolute;
  left:159px;
  top:23px;
  width:163px;
  height:43px;
  font-size:20px;
  text-align:left;
}
#u945 {
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:44px;
}
#u946 {
  position:absolute;
  left:148px;
  top:23px;
  width:1px;
  height:43px;
}
#u947 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:44px;
}
#u948 {
  position:absolute;
  left:128px;
  top:82px;
  width:244px;
  height:43px;
}
#u949 {
  position:absolute;
  left:2px;
  top:14px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:426px;
}
#u950 {
  position:absolute;
  left:117px;
  top:76px;
  width:320px;
  height:425px;
}
#u951 {
  position:absolute;
  left:2px;
  top:204px;
  width:316px;
  word-wrap:break-word;
}
